

body{
  background-color: grey;
  color: orange;
  font-family: Helvetica, sans-serif;
  font-size: 20px;

  line-height: 1.6em; /* spaces between lines */
  margin: 0;
}
a{
  text-decoration: none;
  color: #000;

}

a:hover{
  color: orange;
}


.container{
  width: 80%;
  margin: auto;
}
.button{
  background-color: #333;
  padding: 10px 15px;
  border: none;
  color: #fff;
}
.botton:hover{
  background: blue;
  color: #fff;
}
.box-1{
  background-color: #333;
  color:#fff;
  border: 5px red solid;
  border-width: 3px;
  border-style: dashed;

  padding: 20px;

  margin: 20px 0px;

}
.clr{
  clear:both;
}
.box-1 h1{
  font-family: Tohoma;
  font-weight: 800;
  font-style: italic;
}


.box-2{
  border:3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories{
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2{
  text-align: center;
}

.categories ul{
  padding:0;
  list-style: none;
}

.categories li{
  padding-bottom: 8px;
  border-bottom: dotted 1px #333;
}
.my-form{
  padding: 20px;
}
.my-form .form-group{
  padding-bottom: 15px;
}
.my-form label{
  display: block;
}

.my-form input[type="text"], .my-form textarea{
  padding: 8px;
  width: 100%;
}

.block{
  float: left;
  width: 33.3%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;

}
